.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.intro-text-wrapper {
  color:white;
  font-size:x-large;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 25%;
  letter-spacing: 3px;
  transform: translate(-50%,-50%);
}

.login-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Optionally, make the parent container take up the full viewport height */
}

.login-button{
  background-color:#1DB954;
  color: white;
  height: 7vmin;
  width: 25vmin;
  border-radius: 5px;
  font-weight: bold;
}

body{
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
}

