.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.top-bar-wrapper {
  background-color: #2A9D8F;
  height: 15vh;
}

.intro-text-wrapper {

  text-align: center;
}

.login-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Optionally, make the parent container take up the full viewport height */
}