.tracks-wrapper {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -30%); 
    user-select: none; /* -- Prevent image highlighting -- */
}

.track-image {
    /* transform: scale(0.9);  */
    width: 40vmin;
    height: 57vmin;
    object-fit: cover;
    object-position: 100% center;
    padding: 1vmin;
    border-radius: 5px;
  }

.rec-deck-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
}

.track-name{
    color:white;
    font-size: larger;
    font-weight:bold;
    padding-bottom: 1vmin;
}

.track-artist{
    color:white;
}


.track-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
    .track-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  
  .even .track-info {
    order: 1;
  }
  
  .odd .track-info {
    order: 2;
  }

  .intro-text{
    color:white;
    font-size:x-large;
    letter-spacing: 0.4vmin;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    margin:2vmin;
    width: 100%;
    text-align: center;
  }
  

  .playlist-button{
    background-color: #1DB954;
    color: white;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
  }

  .start-over-button {
    margin-top:1%;
    background-color: #1DB954;
    color: white;
    position: absolute;
    left:50%;
    transform: translate(-50%,200%);
  }

  .remove-button{
    float:right;
    color:black;
    margin:0%
  }

  .artist-container .track-container{
    
  }
  
  .generic-dropdown {
    width:100%
  }

  

  .dropdown-wrapper{
    display:flex;
    align-items: center;
    margin-bottom: 5% !important;
    padding-left: 5%;
  }


  .form-elem{
    width: 100%;
  }
  
  .list-wrapper {
    padding-inline-start: 0px !important;
  }

  .add-button {
    margin-bottom: 5% !important;
    margin-top: 5% !important;
    margin-left: 5% !important;
  }

  .generate-button{
    margin-left:5% !important;
  }